body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Codec pro",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Codec pro";
  src: local("Codec pro"),
    url("./assets/CodecPro-Regular.ttf") format("truetype");
}

.container {
  position: relative;
  height: 650px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://dopetgztsfho3.cloudfront.net/Shopify_App_Development_Services_hero_banner_big_249076e18a.webp");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-position 0.2s ease-in-out; /* Smooth transition for background movement */
}
@media (max-width: 768px) {
  .container {
    height: auto; /* Set height to auto on smaller screens */
    background-size: cover; /* Optional: adjust background size */
  }
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Light black overlay */
  z-index: 1; /* Ensure it sits above the background but below content */
}

.container * {
  position: relative; /* Ensure text and other content sit above the overlay */
  z-index: 2;
}
